<h1>Delete Confirmation</h1>

<h2>Are you sure you want to delete it?</h2>

<form action ="" method ="post">
  <!-- name is the data key, value is the data value in key/value pair -->
  <input type="radio" label ="no" name="decide" value="no"> No</label>
  <input type="radio" label ="yes" name="decide" value="yes">Yes</label>
  <input type="submit" value="Decide!">
</form>
