<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <!-- page-specific content -->
    <%= yield %>

    <!-- naviation links -->
    <p>
      <a href="/">Home</a>
      |
      <a href="/create_tasks">Create Tasks</a>
    </p>
  </body>
</html>
