<h1>Hello Taste-Master Blasters!</h1>
  <h2>Task List</h2>
    <ul>
      <li>
        #, Name, Description, Completed Date
      </li>
  <% @all_tasks.each do |row| %>
      <li>
        <% row.each do |id, name, desc, date| %>
        <%= id %> <%= name %> <%= desc %> <%= date %>
        <% end %>
        <a href="#">Delete?</a>
      </li>
  <% end %>
    </ul>
