<h1>Hello Taste-Master Blasters!</h1>
  <h2>Task List</h2>
    <ul>
      <li>
        #, Name, Description, Completed Date
      </li>
  <% @all_tasks.each do |row| %>
      <li>
        <% row.map do |item| %>
        <%= item %>,
        <% end %>
      </li>
  <% end %>
    </ul>


<a href="/create_tasks">Click</a> to create a new task!
